node_modules
dist
tmp
out-tsc

# Nx cache
.nx
.cache

# Git
.git
.gitignore

# Env files (NEVER bundle env files or secrets into the image)
.env
.env.*
*.pem
*.key
*.cert

# Other
apps/mobile
docker-compose*.yml
*.md
